.app {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
}

.container, .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.container {}

.content {
    padding: 75px 128px;
}

.slider {
    margin: 10px 0;
}

.fundTitle {
    text-transform: uppercase;
    font-size: 28px;
    color: #464646;
    margin-bottom: 28px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.drawer-header {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.menu-button {
    margin: 0 12px 0 20px !important;
}

.is-hidden {
    display: none !important;
}

.data-content {
    display: flex;
    flex-direction: row;

    // height: 1000px;
}

.graph {
    width: 75%;
    height: 600px;
}

.options {
    margin-right: 24px;
}
