.app {
  display: flex;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.menu-button {
  margin: 0 12px 0 20px !important;
}

.is-hidden {
  display: none !important;
}

.label {
  padding-top: 10px !important;
  justify-content: center !important;
}