.app {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
}

.content {
    flex-grow: 1;
    min-width: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
    min-width: 30%;
}

.graph {
    overflow-y: auto;
}
