body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.rc-slider {
  &-track {
    background-color: #D5914E !important;
  }

  &-handle {
    border-color: #D5914E !important;
  }

  &-dot-active {
    border-color: #D5914E !important;
  }
}

.alternative-sliders {
  .rc-slider {
    &-track {
      background-color: #4E97D5 !important;
    }

    &-handle {
      border-color: #4E97D5 !important;
    }

    &-dot-active {
      border-color: #4E97D5 !important;
    }
  }
}